<div class="wrapper">
  <div class="dashboard-grid">
    <div class="area-a dashboard-element">
      <app-revenue-expenses-chart></app-revenue-expenses-chart>
    </div>
    <div class="area-b dashboard-element">
      <app-profit-revenue-chart></app-profit-revenue-chart>
    </div>
    <div class="area-c dashboard-element">
      <app-revenue-month-chart></app-revenue-month-chart>
    </div>
    <div class="area-d dashboard-element">
      <app-product-prices-expenses-graph></app-product-prices-expenses-graph>
    </div>
    <div class="area-e dashboard-element">
      <app-products-list></app-products-list>
    </div>
    <div class="area-f dashboard-element">
      <app-orders-list></app-orders-list>
    </div>
    <div class="area-g dashboard-element">
      <app-expenses-breakdown></app-expenses-breakdown>
    </div>
  </div>
</div>
