.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  padding-left: 12px;
  padding-right: 12px;
}

.dashboard-grid {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1.5rem;
}

.area-a {
  grid-area: a;
}
.area-b {
  grid-area: b;
}
.area-c {
  grid-area: c;
}
.area-d {
  grid-area: d;
}
.area-e {
  grid-area: e;
}
.area-f {
  grid-area: f;
}
.area-g {
  grid-area: g;
}

.dashboard-element {
  background-color: var(--background-color-light);
  border-radius: 1rem;
  box-shadow: 0.15rem 0.2rem 0.15rem rgba(0, 0, 0, 0.8);
}

@media (max-width: 1200px) {
  .dashboard-grid {
    grid-template-areas:
      "a"
      "a"
      "a"
      "a"
      "a"
      "b"
      "b"
      "b"
      "b"
      "b"
      "c"
      "c"
      "c"
      "d"
      "d"
      "d"
      "d"
      "d"
      "e"
      "e"
      "e"
      "e"
      "e"
      "e"
      "f"
      "f"
      "f"
      "f"
      "g"
      "g"
      "g";
    grid-auto-columns: 1fr;
    grid-auto-rows: 70px;
  }
}

@media (min-width: 1200px) {
  .dashboard-grid {
    grid-template-areas:
      "a b c"
      "a b c"
      "a b c"
      "a b f"
      "a b f"
      "d e f"
      "d e f"
      "d e g"
      "d e g"
      "d e g";
    grid-template-columns: repeat(3, minmax(370px, 1fr));
    grid-template-rows: repeat(10, 7.7vh);
  }
}
