.wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  padding-left: 12px;
  padding-right: 12px;
}

.main-element {
  width: 100%;
  height: 93.5vh;
  background-color: var(--background-color-light);
  border-radius: 1rem;
  box-shadow: 0.15rem 0.2rem 0.15rem rgba(0, 0, 0, 0.8);
}
