.wrapper {
  width: 100%;
  height: 5vh;

  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;

  box-sizing: border-box;
}

.logo-section {
  gap: 0.75rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--main-text-color);
  margin: 0;
  padding-left: 0.5rem;
}

.nav-links {
  gap: 0.5rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  color: var(--main-text-color);
}

.nav-link:hover {
  color: var(--hovering-text-color);
}

.nav-link.active {
  color: var(--active-text-color);
}
